html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* ---------------------------- main page layout ---------------------------- */

#page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#left-sidebar {
    height: 100%;
    width: 18%;
    position: fixed;
    top: 0;
    left: 0;
    border-right: solid 2px black;
    padding: 10px;
    overflow-y: scroll;
    box-sizing: border-box;
}

#right-sidebar {
    border-left: solid 2px black;
    top: 0; 
    right: 0;
    height: 100%;
    width: 18%;
    position:fixed;
    overflow-y:scroll;
}

#right-sidebar-navbar {
    padding: 10px;
    border-bottom: solid 2px black;
}

/* ----------------------------- input elements ----------------------------- */

.options-section {
    border: solid 2px black;
    /* min-width: 20%; */
    padding: 10px;
    margin: 5px 0 5px 0;
}

.options-form-container {
    display: flex;
    flex-direction: column;
}

.options-input-container {
    margin: 5px 10px 5px 10px;
}

.options-submit-container {
    margin: 5px 10px 5px 0px;
}

.path-endpoints-button-active {
    color: blue;
}

/* ----------------------------- graph elements ----------------------------- */

#graph-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#graph-container {
    border: solid 2px black;
}

/* ----------------------------- building editor ---------------------------- */

#building-editor-container {
    padding: 10px;
    display: block;
}

#selected-building-stage-container {
    border: solid 2px black;
}

#selected-building-doors-container {
    margin: 10px 0 10px 0;
}

#selected-building-options-container {
    margin: 10px 0 10px 0;
}

#edit-doors-list {
    list-style-type: none;
    padding: 0 10px 0 10px;
    margin: 0;
}


/* ----------------------------- path statistics ---------------------------- */

#path-stats-container {
    padding: 10px;
    display: none;
}


/* ---------------------------------- misc ---------------------------------- */

.title {
    font-size:20px;
    font-weight: bold;
}

.button-container {

}

#test-container {
    border: solid 2px black;
    padding: 10px;
    margin-top: 10px;
}